<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem 

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
--> Python
--> SQL
--> R

Some of the commonly used libraries used by Data Scientists include:
--> keras
--> Matplotlib
--> Numpy

**Objectives:**
--> list the popular languages for data science
--> list the popular libraries for data science
--> list the popular tools for data science

| data science tools |
|--------------------|
| Jupyter notebook |
| Apache Spark |
| Apache Hadoop |

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
a=(3*4)+5
print(a)

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
a=200//60
print(a)

3

## Author
Mohamed Razeen . I